@{
    ViewBag.Title = "Index";
}

<h2>Books.......</h2>

<a href="@Url.Action("Add", "Book")" class="elements"><span>Add new book</span></a>
<br />
<a href="@Url.Action("Get", "Book")" class="elements"><span>Get book by Id</span></a>
<br />
<a href="@Url.Action("Delete", "Book")" class="elements"><span>Delete book</span></a>
<br />
<a href="@Url.Action("Update", "Book")" class="elements"><span>Update book</span></a>
